/* body {
  margin: 0;
  overflow: hidden;
} */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;

  @media (max-width: 768px) {
    aspect-ratio: 4/3; // Adjust aspect ratio for smaller screens
  }
  
  @media (max-width: 480px) {
    aspect-ratio: 1/1; // Square aspect ratio for very small screens
  }
}



.item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  color: white;
  font-size: 4rem;
  text-align: center;
  z-index: 100; // Ensure this is on top

    @media (max-width: 768px) {
    font-size: 3rem; // Adjust font size for tablets
  }

  @media (max-width: 480px) {
    font-size: 2rem; // Adjust font size for mobile
  }

}

/*--------------------
SCSS for HorizontalPrallax
--------------------*/

.pinned-images {
  overflow-x: hidden;
}

.pin_wrap,
.animation_wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}

.spacer {
  padding: 150px;
  font-size: 30px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.image {
  position: relative;
  padding: 190px 20px;
  flex: 0 0 750px;
  height: 500px;
  display: flex;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgb(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);
}

/*--------------------
SCSS for LinkText
--------------------*/

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100px;
  width: 100vw;
}

.wrap {
  padding: 10vw;
  font-size: 3vw;
  margin-top: -100px;
  display: flex;
  gap: 1vw;
  
  img {
    width: 20%;
    height: auto;
  }
}

.wrap1 {
  padding: 10vw;
  font-size: 3vw;
  margin-top: -100px;
  display: flex;
  flex-direction: row-reverse;  // This moves the image to the left side
  gap: 1vw;
  
  img {
    width: 20%;
    height: auto;
  }
}

.section {
  position: relative;
  background: var(--inverseColor);
  color: var(--mainColor);
  
  header {
    background: linear-gradient(to bottom, var(--inverseColor), transparent);
  }
  
  &.black {
    --mainColor: white;
    --inverseColor: black;
  }
}

.a {
  color: transparent;
  display: inline-block;
  position: relative;
  z-index: 1;
  &:before, &:after {
    content: attr(data-text);
    position: absolute;
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    transition: all .3s ease-in-out .1s;
    pointer-events: none;
  }
  &:after {
    font-family: sans-serif;
    font-size: .65em;
    top: .38em;
    left: 0;
    transform: translateY(100%) skewY(3deg);
    opacity: 0;
    text-transform: uppercase;
    transition-delay: 0s;
  }
  
  &:hover {
    &:before {
      transform: translateY(-100%) skewY(-3deg);
      opacity: 0;
      transition-delay: 0s;
    }
    &:after {
      transform: translateY(0%) skewY(0deg);
      opacity: 1;
      transition-delay: .1s;
    }
  }
}