/* body {
  margin: 0;
  overflow: hidden;
} */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, .3);
}

.item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  color: white;
  font-size: 4rem;
  text-align: center;
  z-index: 100; // Ensure this is on top
}

/*--------------------
SCSS for HorizontalPrallax
--------------------*/

.pinned-images {
  overflow-x: hidden;
}

.pin_wrap,
.animation_wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}

.spacer {
  padding: 150px;
  font-size: 30px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.image {
  position: relative;
  padding: 190px 20px;
  flex: 0 0 750px;
  height: 500px;
  display: flex;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgb(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);
}
