.sectionContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  }
  
  .content {
    position: relative;
    z-index: 10;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  
    @media (max-width: 640px) {
      padding: 5vw;
    }
  
    @media (min-width: 768px) {
      padding: 8vw;
    }
  
    @media (min-width: 1024px) {
      padding: 10vw;
    }
  }
  
  .heading {
    font-size: 8vw;
    text-transform: uppercase;
    mix-blend-mode: difference;
    color: white;
  
    @media (max-width: 640px) {
      font-size: 7vw;
    }
  
    @media (min-width: 768px) {
      font-size: 5vw;
    }
  
    @media (min-width: 1024px) {
      font-size: 5vw;
    }
  }
  
  .description {
    width: 50vw;
    font-size: 5vw;
    text-transform: uppercase;
    align-self: flex-end;
    mix-blend-mode: difference;
    color: white;
  
    @media (max-width: 640px) {
      width: 70vw;
      font-size: 3vw;
    }
  
    @media (min-width: 768px) {
      width: 60vw;
      font-size: 3vw;
    }
  
    @media (min-width: 1024px) {
      width: 50vw;
      font-size: 2vw;
    }
  }
  
  .backgroundContainer {
    position: fixed;
    top: -10vh;
    left: 0;
    height: 120vh;
    width: 100%;
  }
  
  .backgroundImage {
    position: relative;
    width: 100%;
    height: 100%;
  }
  